.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(4, 6, 58);
    background: radial-gradient(circle at 50% 40%, rgba(4, 6, 58, 1) 0%, rgba(16, 16, 160, 1) 60%, rgba(43, 68, 199, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.star {
    position: absolute;
    width: 80px;
    pointer-events: none;
    user-select: none;
}

.star1 {
    top: 10%;
    left: 20%;
    width: 130px;
}

.star2 {
    top: 30%;
    left: 70%;
    width: 90px;
}

.star3 {
    top: 50%;
    left: 40%;
    width: 70px;
}

.star4 {
    top: 70%;
    left: 80%;
    width: 130px;
}

.star5 {
    top: 80%;
    left: 15%;
    width: 110px;
}

.star6 {
    top: 5%;
    left: 80%;
    width: 80px;
}

.star7 {
    top: 40%;
    left: 10%;
    width: 55px;
}

.star8 {
    top: 0%;
    left: 60%;
    width: 85px;
}

.Icon {
    display: absolute;
    margin-left: 60px;
    margin-top: 85px;
    height: 300px;
    width: 300px;
}

.HomeButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
    /* background-color: #ce0808; */

}

.HomeButtons div {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #21f84cd9; */
}

.Link {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    background-color: transparent;
    padding: 10px;
    border: none;
    color: #118eedd3;
    font-size: 25px;

    font-family: 'Rodin';
    cursor: pointer;
    text-decoration: none;
}

.Link:hover {
    color: #f0f0f0;
}

@media (max-width: 568px) {
    .Link {
        font-size: 16px;
        margin: 5px;
        width: 45vw;
        height: 12vh;
    }

    .HomeButtons div {
        gap: 0px;
        width: 100%;
    }

    .Icon {
        margin-left: 70px;
        margin-top: 15%;
        height: 280px;
        width: 230px;
    }

    .star,.star1,.star2,.star3,.star4,.star5,.star6,.star7,.star8 {
        width: 20px;

    }
}
@media (max-width: 348px) {
    .Link {
        font-size: 14px;
        margin: 2px;
        width: 45vw;
        height: 13vh;
    }


    .Icon {
        margin-left: 70px;
        margin-top: 15%;
        height: 280px;
        width: 220px;
    }

}