.SingMusic {
    position: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Rodin";
    font-style: italic;
    z-index: 1;
    z-index: none;
}

.lyrics {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    z-index: 1;
}

.highlighted {
    font-weight: bold;
    background: linear-gradient(to right, #ff4081 0%, #ff4081 48%, white 50%, white 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fillLeftToRight 1s forwards ease-in-out;
    animation-duration: 2s;
}

@keyframes fillLeftToRight {
    to {
        background-position: 0 0;
    }
}



.faded {
    font-weight: bold;
    animation: slideUp 0.2s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.PersonaChar {
    position: fixed;
    width: 100%;
    top: 35%;
    height: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

.PersonaChar img {
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    margin: 0px;
}


.ModeSelector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
    border-radius: 8px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.starBox {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

#starEnd {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.star {
    position: fixed;
    width: 80px;
    pointer-events: none;
    user-select: none;
}


.ModeSelector h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.ModeButtons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.ModeButton {
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    background: white;
    color: #118eed;
    font-style: italic;
    font-family: "Rodin";
    border: none;

    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid #118eed;
    border-radius: 5px;

}

.ModeButton:hover {
    color: #1198ff;
    transform: scale(1.05);
}

.CutIn {
    position: fixed;
    top: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 8;
    pointer-events: none;
}

#CutInChar {
    width: 70%;
    height: 25%;
    opacity: 0;
    z-index: 9;
}

.cutin-effect {
    display: flex !important;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.801);
}

@media (max-height: 720px) {
    .PersonaChar {
        top: 25%;
    }

    .PersonaChar img {
        display: flex;
        align-items: center;
        width: 55%;
        height: auto;
        margin: 0px;
    }
}

@media (max-width: 1124px) {
    .PersonaChar {
        top: 70%;
    }

    .PersonaChar img {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0px;
    }
}

@media (max-width: 568px) {
    .lyrics {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 70%;
        z-index: 1;
        font-size: 9px;
    }

    .faded {
        font-size: 16px;
    }

    .ModeSelector {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 2rem;
        border-radius: 8px;
        z-index: 10;
        background-color: rgb(255, 255, 255);
    }

    #CutInChar {
        width: 100%;
        height: 15%;
        opacity: 0;
        z-index: 9;
        margin-left: 15%;
    }

}


/* .SingMusic .rhap_main-controls-button.rhap_play-pause-button {
  display: none;
}
.SingMusic .rhap_progress-container {
  pointer-events: none;
} */