.SelectMusic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: "Rodin";
  font-style: italic;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.Music {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin-left: 5%;
  padding-top: 10px;
}

.Music p {
  font-size: 25px;
}

.Music button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: white;
  color: #118eed;
  font-style: italic;
  font-family: "Rodin";
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.Music button:hover {
  transform: scale(1.05);
}

.Music img {
  height: 150px;
  width: 150px;
  /*  border: 1px solid white; */
  border-radius: 10px;
}

.AllMusics {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

@media (max-width: 668px) {
  .Music button {
    font-size: 15px;
    font-style: italic;
    border-radius: 0px;
    padding: 5px 15px;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  }

  .Music img {
    height: 130px;
    width: 120px;
  }
  .Music p {
  font-size: 20px;
}

  .AllMusics {
  width: 100%;
}
.SelectMusic {

  padding-bottom: 100%;

}
}