.MusicEnded {
    display: flex;
    position: fixed;
    width: 100%;
    margin-top: 1%;
}

.MusicEnded h2 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}

.MusicEnded p {
    color: rgb(0, 0, 0);
    font-size: 2rem;

}

.Result {
    position: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: start;
    width: 70%;
    height: 80vh;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: white;
    gap: 30px;
    padding-left: 5%;
}

.MusicEnded img {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    z-index: 1;
    margin-left: 5%;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.2) 40px 10px 15px -5px, rgba(0, 0, 0, 0.22) 0px 6px 6px -6px;
}


.Score {
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 10%;
    margin: 0px;
    padding: 0px;
}

.wip {
    font-weight: bold;
    font-family: 'Rodin';
    color: rgb(250, 224, 59) !important;
    text-shadow: rgba(0, 0, 0, 0.605) 3px 2px 0px;
    letter-spacing: 8px;
}


#wip {
    font-size: 4.5em;
    font-style: italic;
}

.Return {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    background-color: rgb(210, 210, 210);
    width: 30%;
    border-radius: 8px;

}

.Return:hover {
    display: flex;
    transition: all 0.1s ease-in-out;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 116, 241);
    font-size: 1.5rem;
    background-color: rgb(246, 246, 246);
    width: 30%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 0px -5px
}

.ScoreBackground{
    width: 65%;
    height: 5%;
    border-radius: 15px;
    background-color: rgb(220, 220, 220);
}
.ScoreBar{
    background-color: rgb(28, 209, 28);
    border-radius: 15px;
    height: 100%;
}

@media (max-width: 668px) {
    .Result {
        width: 100%;
        height: 60vh;
        clip-path: none;
        align-items: top;
        justify-content: start;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .MusicEnded {
        flex-direction: column;
    }

    .MusicEnded h2 {
        font-size: 1.6rem;
    }

    .MusicEnded p {
        font-size: 1.3rem;
    }

    .wip {
        font-weight: bold;
        font-family: 'Rodin';
        color: rgb(250, 224, 59) !important;
        text-shadow: rgba(0, 0, 0, 0.605) 3px 2px 0px;
        letter-spacing: 8px;
    }


    #wip {
        font-size: 3.4em;
        font-style: italic;
    }

    .MusicEnded img {
        width: 80%;
        height: 80%;
        border-radius: 5px;
        margin-left: 10%;
        margin-top: 4%;
    }

    .Return {
        width: 100%;
    }

    .Return:hover {
        width: 90%;
    }
}