.ViewMusic {
    display: flex;
    font-family: "Nunito";
    position: fixed;
    width: 50%;
    height: 70%;
    margin: 20px;
    margin-left: 50%;
}

.Infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    align-content: center;
    font-family: "Nunito";
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: white;
    gap: 20px;
    margin-left: 20px;

}

.ViewMusic p {
    color: black;
}

#albumImageUrl {
    margin-bottom: 5%;
    margin-left: 9%;
    border-radius: 5px;
    width: 30%;
    min-width: 150px;
    height: 41%;
}

.StartMusicBox {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;

}

.StartMusic {
    color: rgb(255, 255, 255);
    font-size: large;
    text-decoration: none;
    background-color: rgb(37, 37, 37);
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-family: 'Rodin';
}

.StartMusic:hover {
    transition: all 0.2s ease-in-out;
    letter-spacing: 4px;
}

.rhap_container {
    box-shadow: none !important;
    border: none !important;
    background-color: rgb(255, 255, 255) !important;
}

.difficulty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    height: 10%;
    margin: 0px;
    padding: 0px;

}

.hard,
.easy,
.normal {
    font-weight: bold;
    font-family: 'Rodin';
    font-size: 1.8em;
    opacity: 0;
}

.hard {
    color: red !important;
    text-shadow: rgba(0, 0, 0, 0.605) 3px 2px 0px;
    letter-spacing: 4px;
}

.normal {
    color: rgb(255, 200, 82) !important;
    text-shadow: rgba(0, 0, 0, 0.529) 3px 2px 0px;
    letter-spacing: 3px;
}

.easy {
    color: #31e615 !important;
    text-shadow: rgba(0, 0, 0, 0.529) 3px 2px 0px;
    letter-spacing: 4px;

}

#hard,
#normal,
#easy {
    font-size: 4em;
    font-style: italic;
}

@media (max-width: 1124px) {
    .Infos {
        height: 80%;
        gap: 10px;
        align-items: center;
        align-content: center;
    }

    
}

@media (max-width: 668px) {
    .Infos {
        clip-path: none;
    }

    .ViewMusic {
        z-index: 0;
        width: 105%;
        height: 55%;
        margin: 0px;
        margin-right: 20px;
        align-items: end;
        bottom: -2px;
        left: -5.3%;
        
    }

    #albumImageUrl {
    margin-bottom: 1%;
    margin-left: 20%;
    border-radius: 5px;
    width: 40%;
    min-width: 140px;
    max-width: 160px;
    max-height: 170px;
    height: 40%;
}

    .ViewMusic p {
        color: black;
    }

    .StartMusicBox {

        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;

    }

}
