.CountDown{
    display: flex;
    flex-direction: column;
}
.CountDownText1, .CountDownText2, .CountDownText3, .CountDownText4{
    display: flex;
    justify-content:start;
    align-items: center;
    opacity: 0;
    font-size: 25px;
    color: #118eed;
    font-family: "Rodin";
    background-color: rgb(245, 245, 245);
    width: 50vw;
    height: 10%;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
}


.CountDownText2, .CountDownText4{
    justify-content: end;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.CountDownText1 h2, .CountDownText3 h2{
    margin-left: 20%;
}
.CountDownText2 h2, .CountDownText4 h2{
    margin-right: 20%;
}

.CountDownText1 {
    position: fixed;
    top: 20%;
    left: 35%;
}

.CountDownText2 {
    position: fixed;
    top: 35%;
    left: 35%;
}

.CountDownText3 {
    position: fixed;
    top: 50%;
    left: 35%;
}

.CountDownText4 {
    position: fixed;
    top: 65%;
    left: 35%;
}
