.PatchNotes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

}

.PatchNotes img {
  height: 100vh;
  width: auto;
  margin: 0px;
  filter:
    drop-shadow(60px 0px 0px rgb(255, 255, 255)) drop-shadow(60px -5px 0px rgb(52, 164, 255));
  pointer-events: none; 
  user-select: none;
}

.PatchNotesItens {
  font-family: "Rodin";
  font-style: italic;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80%;
  max-height: 80%;
  justify-content: start;
  margin-left: 5%;
  border: 2px solid white;
  padding: 3%;
  padding-top: 5px;
  background-color: rgb(27, 27, 27);
  gap: 50px;
  border-radius: 25px;
  border-right: 0;

  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  overflow-y: auto;
}

.PatchNotesItens::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;

}

.PatchNotesItens::-webkit-scrollbar-thumb {
  background: #34a4ff;
  border-radius: 10px;
  border: 1px solid #fff;
}

.PatchNotesItens::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 10px;

}

.PatchNotesGoBack {
  background-color: white;
  position: fixed;
  color: #34a4ff;
  border-radius: 4px;
  padding: 20px;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  top: 30px;
  right: 40px;
  z-index: 1;
  transition: 0.2s;
}

.PatchNotesGoBack:hover {
  color: #34a4ff;
  padding-right: 60px;
  transition: 0.3s;
}

@media (max-width: 1030px) {
  .PatchNotesItens {
    width: 100%;
    margin-left: 0%;
    font-size: 13px;
    min-width: 40%;
  }

  .PatchNotes img {
    position: fixed;
    top: 40%;
    left: 60%;
    
    height: 60vh;
    filter:
      drop-shadow(30px 0px 0px rgb(255, 255, 255)) drop-shadow(30px -5px 0px rgb(52, 164, 255));
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    align-self: flex-end;
  }
}
@media (max-width: 920px) {

  .PatchNotes img {
    top: 45%;
    left: 35%;
    height: 55vh;
  }
}

@media (max-width: 880px) {

  .PatchNotes img {
    position: fixed;
    top: 40%;
    left: 30%;
    
    height: 60vh;

  }
}

@media (max-width: 500px) {
  .PatchNotesItens {
    margin-left: 0%;
    width: 100%;
    padding: 4%;
    border: 0px;
    border-radius: 0px;
    min-height: 80%;
    margin-left: 1%;
    font-size: 13px;
    min-width: 40%;
  }

  .PatchNotes img {
    position: fixed;
    top: 60%;
    left: 40%;
    z-index: 1;
    height: 40vh;
    filter:
      drop-shadow(25px 0px 0px rgb(255, 255, 255)) drop-shadow(20px -5px 0px rgb(52, 164, 255));
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    align-self: flex-end;
  }

  .PatchNotesGoBack {
    top: 10px;
    right: 0px;
    width: 30%;
    height: 8%;
    padding: 10px;
  }
  
}
@media (max-width: 432px) {

   .PatchNotesItens {
    margin-left: 0%;
    min-height: 90%;

  }
  .PatchNotes img {
    position: fixed;
    top: 70%;
    left: 45%;
    z-index: 1;
    height: 30vh;

  }

}